//colors
$main-color-font: #fff;
$second-color-font: #E5E5E5;
$gradient-main: #00000000;
$gradient-second: #000000;
$gradient-third: #000000d4;
$gradient-fourth: #10101000;
$gradient-fifth: #101010;
$turquoise: #23C3B2;

//elements
$border: 8px;